<header id="banner">
    <nav>
        <h1><a href="{{ "/" | relative_url }}" class="gui">amy<span class="gui thin">in</span>orbit</a><!-- <div id="cursor"></div> --></h1>
        <ul class="navbar">
            <li><a class="button" href="{{ "/portfolio" | relative_url}}">portfolio</a></li>
            <li><a class="button" href="https://twitter.com/amyinorbit">@amyinorbit</a></li>
            <li><a class="button" href="https://instagr.am/amyinorbit">ig/amyinorbit</a></li>
            <li><a class="button" href="{{ "/archive" | relative_url}}">archive</a></li>
            <!-- <li><a class="button" href="{{ "/feed.xml" | relative_url}}">rss feed</a></li> -->
        </ul>
    </nav>
</header>
