<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | escape }} // {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ site.author | escape }}">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="og:title" content="{% if page.title %}{{ page.title | escape }} // {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/code.css"/>
    
    <link rel="alternate" title="{{ site.title }}" type="application/atom.xm" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    
    <link rel="author" href="https://plus.google.com/116701126192141560817" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
