.highlight .k {
  color: #1481b8; }

.highlight .kd {
  color: #1481b8; }

.highlight .kt {
  color: #09a; }

.highlight .s {
  color: #c70; }

.highlight .sc {
  color: #c70; }

.highlight .s2 {
  color: #c70; }

.highlight .c {
  color: #999; }

.highlight .c1 {
  color: #999; }

.highlight .cm {
  color: #999; }

.highlight .cp {
  color: #594; }

.highlight .nl {
  color: #1481b8; }

.highlight .nt {
  color: #1481b8; }

.highlight .err {
  color: #1481b8; }