---
---
@import "base/sanitize.scss";
@import "base/colors.scss";
@import "base/fonts.scss";
@import "components/typography.scss";
@import "components/links.scss";
@import "components/layout.scss";
@import "components/nav.scss";
@import "components/post.scss";
@import "components/archive.scss";
@import "components/objects.scss";
@import "components/footer.scss";

:root {
    --color-primary: #{$color-primary-light};
    --color-secondary: #{$color-secondary-light};
    --color-background: #{$color-background-light};
    --color-background-sec: #{$color-background-sec-light};
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #{$color-primary-dark};
        --color-secondary: #{$color-secondary-dark};
        --color-background: #{$color-background-dark};
        --color-background-sec: #{$color-background-sec-dark};
    }
}

.blurb {
    font-size: 130%;
    line-height: 130%;
}
