a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border-radius: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1;
    color: #4D4D4D;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
	-moz-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
	font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.1;
    margin: .75em 0;
    color: #000;
}

h1:first-child, h2:first-child {
    margin-top: 0;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1.0rem; }

/* Links style */

a {
    text-decoration: underline;
    color: #000;
    transition: background .2s ease, color .2s ease, border-color .2s ease;
    overflow-y: hidden;
    border-bottom: 2px solid transparent;
}

a:hover, a:active {
    color: #CE4C64;
}

/* layout utils */

a.button {
    text-decoration: none;
    color: #999;
    display: inline-block;
    border: 1px #ddd solid;
    padding: .4em .8em;
    border-radius: 2em;
}

a.button:hover {
    color: #fff;
    background-color: #CE4C64;
    border-color: #CE4C64;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 1em 5%;
}

.padded {
    padding-bottom: 4em;
    padding-top: 4em;
}

.padded.lightly {
    padding-bottom: 2em;
    padding-top: 2em;
}

sup {
    vertical-align: baseline;
    font-size: 70%;
    position: relative;
    top: -0.4em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.gui {
    font-weight: 700;
}

.gui.thin {
    font-weight: 300;
}

/* header */

header#banner {
    overflow-y: hidden;
    border-bottom: 1px solid #ddd;
}

header#banner h1 {
    border: none;
    font-size: 25pt;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 1em auto;
}

header#banner h1 a {
    text-decoration: none;
    color: #CE4C64;
}

header#banner h1 a:hover {
    color: #000;
}

header#banner nav {
    padding: 2em 0;
}

header#banner ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
}

header#banner li {
    display: inline-block;
    padding: .2em;
}

/* tagline */

section#tagline {
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}

section#tagline p {
    text-align: left;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

section#tagline img#mug {
    float: left;
    width: 80%;
    max-width: 64px;
    border-radius: 50px;
    height: auto;
    border: 5px solid #CE4C64;
    padding: 5px;
    margin: 0 1em .5em 0;
}

/* individual posts */

article.post {
    border-bottom: 1px solid #ddd;
}

article.post header {
    margin-bottom: 1em;
}

article.post header h1 {
    margin: 0;
}

article.post header h1 a {
    text-decoration: none;
}

article.post header span.post-meta {
    text-transform: uppercase;
    font-size: 90%;
    display: block;
    margin-bottom: .3em;
    color: #ddd;
    transition: color .2s ease;
}

article.post header:hover span.post-meta {
    color: #666;
}

span.post-meta a:not(:hover) {
    color: #666;
}

article.archive header {
    font-size: 90%;
    margin-bottom: 0;
}

article.archive header h1 {
    font-size: 1.5em;
}

aside {
    border-bottom: 1px solid #ddd;
    font-size: 0.9em;
}

aside#series ol {
    list-style-position: inside;
    margin: .5em 1em 1.75em 1em;
}

aside#series ol li {
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 140%;
    text-overflow: ellipsis;
}

aside#series ol li a {
    text-decoration: none;
    font-weight: bold;
}

/* General Style */

p {
    line-height: 1.5;
    margin: 0 0 .8em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

blockquote {
    padding: 0 0 0 1em;
    margin: 2em 0 2em -.5em;
    color: #666;
    line-height: 1.8;
    border-left: .8em solid #CE4C64;
}

article ul, article ol {
    margin-top: .5em;
    list-style-position: outside;
    margin-bottom: 1.75em;
    line-height: 150%;
    margin-left: 2.1em;
}

article ul, aside ul {
    list-style-type: square;
}

article li, aside li {
    display: list-item;
    margin-bottom: .5em;
}

img {
	display: block;
    margin: 0 -5% 1em -5%;
    max-width: 110%;
    height: auto;
}

img.small {
    max-width: 100%;
    margin: 0 auto 1em auto;
}

img.left {
    margin-right: 1em;
}

img.right {
    margin-left: 1em;
}

img.left, img.right {
    max-width: 55%;
    margin-bottom: .2em;
}

code {
    font-family: "Fira Code", "Consolas", "Menlo", monospace;
    font-weight: normal;
    border-radius: 3px;
}

p code {
    color: #526d7a;
    font-size: 13pt;
}

pre {
    text-indent: none;
	display: block;
	max-width: 100%;
    font-size: 11pt;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
    padding: 1em;
    margin: 2em auto;
    background: #f8fbfc;
    border: 1px solid #f1f6f9;
}

pre code {
    padding: 0;
}

/* tables */

table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: .75em 0;
    table-layout: fixed;
    width: 100%
}

th {
    border-bottom: 1px solid #000;
    font-weight: 600;
    padding: .75em 0;
    text-align: left
}

td {
    border-bottom: 1px solid #666;
    padding: .75em 0
}

tr, td, th {
    vertical-align: middle
}

hr {
    border: none;
    border-bottom: 4px solid #ddd;
    margin: 2em auto 3em auto;
    width: 60%;
}

/* footer */

section#pagination {
    overflow-y: hidden;
    text-align: center;
}

footer {
    text-align: center;
    font-size: .9rem;
}

footer small {
    display: block;
    margin: .5em 0;
    color: #666;
}

@media(min-width: 1024px) {
    header#banner {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 240px;
        border-bottom: none;
        border-right: 1px solid #ddd;
    }
    
    #main-content, footer {
/*        width: 740px;*/
        margin-left: 240px;
        margin-right: 0;
    }
    
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    header#banner ul {
        margin-top: .4em;
    }
    
    header#banner ul li {
        padding-left: 0;
        margin: .5em auto;
        display: block;
    }
    
    img:not(.small):not(.right):not(.left) {
        margin: 0 -10% 1em -10%;
        max-width: 120%;
    }
}

@media(max-width: 560px) {
    
    body { font-size: 12pt;}
    
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 1.2rem; }
    h4 { font-size: 1.1rem; }
    h5 { font-size: 1.05rem; }
    h6 { font-size: 1.0rem; }
    
    .container: {
        padding: 1.5em;
    }
    
    .padded {
        padding: 3em 1.5em;
    }
    
    header#banner h1 {
        margin: .3em auto;
    }
    
    header#banner nav {
        padding: 1em 0;
    }
    
    header#banner ul {
        margin-top: .4em;
    }
    
    header#banner ul li {
        padding-left: 0;
        display: block;
    }
    
    section#tagline {
        padding: 0;
    }
    
    img.left, img.right, img.small {
        max-width: 100%;
        margin: 0 auto 1em auto;
    }
    
    .left:not(.force), .right:not(.force) {
        float: none;
    }
    
    span.post-item-meta {
        float: none;
        margin: .2em 0;
        display: inline-block;
    }
}