@import "base/colors.scss";
@import "base/fonts.scss";

div.post-list {
    border-top: 1px solid $color-accent1;
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

div.year-marker {
    background: var(--color-background);
    margin-bottom: 0;
}

div.post-tile {
    padding: .5em;
    min-height: 5rem;
}


a.post-link {
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 540px) {
    div.post-list {
        display: block;
    }
}
