@import "base/colors.scss";
@import "base/fonts.scss";

div.post-list {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

div.year-list {
    font-weight: 700;
    font-size: 80%;
    line-height: 1.2em;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    
    a {
        display: inline-block;
    }
}

div.year-marker {
//    background: var(--color-background);
    margin-bottom: 0;
    border-bottom: 1px solid $color-accent1;
}

div.post-tile {
    padding: .5em;
    min-height: 5rem;
}

a.post-link {
    font-style: italic;
    text-decoration: none;
    font-weight: 700;
}

div.paper-tile {
    // border-top: 1px solid $color-accent1;
    margin: .5em 0;
    padding: 1em;
    
    h2 {
        font-size: $size-body;
    }
}

div.paper-meta {
    margin: 1em auto;
    span, time {
        display: block;
    }
}

input#search-field {
    width: 100%;
    font-size: $size-caption;
    font-weight: 400;
    display: block;
    margin: 0 0 .8em 0;
    padding: .3em .4em;
    background: var(--color-background);
    border-radius: 3pt;
    border: none;
    outline: none;
    color: var(--color-secondary);
    transition: background .3s, color .3s;
}

input#search-field:focus {
    background: var(--color-primary);
    color: var(--color-background);
}


#search-wrapper {
    font-size: 90%;
    display: none;
}


@media (max-width: 540px) {
    div.post-list {
        display: block;
    }
}
