$main-width: 640px;

$sc-normal: 1024px;
$sc-wide-1: 1080px;
$sc-wide-2: 1150px;
$sc-wide-3: 1280px;

.padded {
    padding: 1em;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    max-width: $main-width;
    width: 90%;
    margin: 1em auto;
}

.right-float {
    margin-right: 0;
}

@media (min-width: $sc-normal) {
    body {
        margin: 1em auto 1em 5%;
    }
    
    .right-float {
        float: right;
        clear: right;
        width: 230px;
        
        margin-right: -250px;
        
        position: -webkit-sticky;
        position: sticky;
        top: 1em;
    }
}

@media (min-width: $sc-wide-1) and (max-width: $sc-wide-2) {
    body {
        margin: 1em auto 1em 10%;
    }
}

@media (min-width: $sc-wide-2) and (max-width: $sc-wide-3) {
    body {
        margin: 1em auto 1em 15%;
    }
}

@media (min-width: $sc-wide-3) {
    body {
        margin: 1em auto 1em 20%;
    }
}
