$main-width: 640px;
$sc-narrow: $main-width;
$sc-normal: 1024px;
$sc-wide: 1140px;

.padded {
    padding: 1em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

main {
    min-height: 100%;
}

main, .container {
    max-width: $main-width;
    width: 80%;
    margin: 1em auto;
}

.right-float {
    margin-right: 0;
}



@media (max-width: $sc-narrow) {
    .left, .right {
        float: none;
    }
}


@media (min-width: $sc-normal) {
    
    .right-float {
        float: right;
        clear: right;
        width: 230px;
        
        margin-right: -250px;
        
        position: -webkit-sticky;
        position: sticky;
        top: 1em;
    }
}

@media (min-width: $sc-normal) and (max-width: $sc-wide) {
    main, .container {
        margin: 1em auto 1em 10%;
    }
}

@media (min-width: $sc-wide) {
    main, .container {
        margin: 1em auto 1em 20%;
    }
}
