
a {
    transition: all .3s ease;
}

a:link, a:visited {
    color: $color-accent1;
    text-decoration-color: $color-accent1;
    text-decoration: underline;
}

a#logo:link, a#logo:visited {
    color: $color-accent2;
}

a.gui, .gui a {
    color: $color-accent2;
    text-decoration-color: $color-accent2;
    text-decoration: none;
}

a.gui:hover, .gui a:hover {
    background: $color-accent2;
}

a:hover {
    background: $color-accent1;
    color: white;
}

a#logo:hover {
    background: $color-accent2;
    color: white;
}

a:active {
    color: var(--color-primary);
}

a.button {
    font-weight: 700;
    text-decoration: none;
}

a.button:before {
    content: "[";
    color: var(--color-primary);
}

a.button:after {
    content: "]";
    color: var(--color-primary);
}
