
a {
    text-decoration: underline;
    transition: color .3s ease, background-color .3s ease;
}

a:link, a:visited {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: $color-accent1;
}

a:hover {
    // text-decoration: underline;
    background: $color-accent1;
    color: white;
}

a:active {
    color: var(--color-primary);
}

a.button {
    display: inline-block;
    font-weight: bold;
    background: var(--color-background-sec);
    color: var(--color-primary);
    padding: .3em 1em;
    border-radius: 10pt;
    text-decoration: none;
}

a.button:hover {
    background: $color-accent1;
    color: $color-primary-dark;
    text-decoration: none;
}
