
a {
    transition: color .3s, background .3s, background-color .3s;
}

a:link, a:visited {
    color: $color-accent1;
    text-decoration-color: $color-accent1;
    text-decoration: none;
}

a#logo:link, a#logo:visited {
    color: $color-accent2;
}

a.gui, .gui a {
    color: $color-accent2;
    text-decoration-color: $color-accent2;
    text-decoration: none;
}

a.gui:hover, .gui a:hover {
    background: $color-accent2;
}

a:hover {
    background: $color-accent1;
    color: white;
}

a#logo:hover {
    background: $color-accent2;
    color: white;
}

a:active {
    color: var(--color-primary);
}

a.button {
    display: inline-block;
    font-weight: bold;
    background: $color-accent1;
    color: $color-primary-dark;
    padding: .3em 1em;
    border-radius: 2em;
    text-decoration: none;
}

a.button:hover {
    background: $color-accent2;
    color: $color-primary-dark;
    text-decoration: none;
}
