nav {
    // border-bottom: 3px solid $color-accent2;
    font-size: 90%;
    padding: .4em 0;

    ul li {
        font-family: $font-mono;
        display: inline;
        margin-right: 1rem;
        font-weight: 600;
    }
    
    ul li:before {
        content: "[";
    }
    
    ul li:after {
        content: "]";
    }
    
    a {
        text-decoration: none;
    }
    
    a:link, a:visited {
        color: $color-accent1;
        text-decoration: none;
    }
    
    a:hover {
        color: $color-primary-dark;
    }
}
