
img {
    display: block;
    margin: 1em -10% 2em -10%;
    max-width: 120%;
    height: auto;
}

img + br + em, img + em {
    display: block;
    text-align: center;
    font-size: $size-caption;
    color: var(--color-bac);
    background: var(--color-background-sec);
    border-radius: 5pt;
    padding: .5em;
}

img:not(.left):not(.right) + br + em, img:not(.left):not(.right) + em {
    margin-top: -2em;
}

img.left + br + em, img.left + em {
    text-align: left !important;
}

img.right + br + em, img.right + em {
    text-align: right !important;
}

img + br {
    display: none;
}

img.small {
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.tiny {
    width: auto;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: 1em;
}

img.right {
    margin-left: 1em;
}

img.left, img.right {
    max-width: 55%;
    margin-top: 0;
    margin-bottom: .2em;
}

@media (max-width: $sc-narrow) {

    img.left + br + em,
    img.left + em,
    img.right + br + em,
    img.right + em {
        text-align: center !important;
        margin-top: -2em;
    }

    img.left, img.right {
        display: block;
        margin: 1em auto 2em auto;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

blockquote {
    padding: .2em 0 .3em 1em;
    margin: 2em 0 2em -.5em;
    line-height: 1.8;
    border-left: .5em solid $color-accent1;
    color: var(--color-secondary);

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

p code {
    color: var(--color-secondary);
    font-size: 0.9 * $size-body;
    background: var(--color-background-sec);
}

figure {
    padding: 0;
    margin: 0;
}

pre {
    text-indent: none;
	display: block;
	width: 100%;
    font-size: 0.7 * $size-body;
    line-height: 1.4;
    overflow: auto;
    word-break: normal;
    padding: 1em;
    margin: 2em auto;

    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}

pre code {
    padding: 0;
}

/* tables */

table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: .75em 0;
    table-layout: fixed;
    width: 100%
}

th {
    border-bottom: 1px solid #000;
    font-weight: 600;
    padding: .75em 0;
    text-align: left
}

td {
    border-bottom: 1px solid #666;
    padding: .75em 0
}

tr, td, th {
    vertical-align: middle
}

hr {
    border: none;
    margin: 2em auto 2em auto;
}

hr:before {
    content: '***';
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #aaa;
}

.pad {
    background: var(--color-background-sec);
    border-radius: 5pt;
    margin-bottom: 2em;
    padding: .8em;

    ol, ul {
        padding: 0 0 0 1.5em;
        margin: .4em 0;
    }
}
