@import "base/colors.scss";
@import "base/fonts.scss";

h1.large-title {
    // line-height: 1em;
    margin-bottom: .8em;
}

article {
    margin-bottom: 3rem;
    
    header {
        margin-bottom: 1.5rem;
        
        h1.large-title {
            margin-bottom: .3em;
        }
        
    }
}

aside.series {
    font-size: 80%;
    line-height: 1.2em;
}

div.post-meta time, div.paper-meta time {
    font-weight: 700;
}
