
html {
    background: var(--color-background);
    color: var(--color-primary);
    font-family: $font-body;

    font-size: 13pt;
}

body {
    line-height: 1.5rem;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
	-moz-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
	font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    line-height: 1.5em;
}

h1 { font-size: $size-title-1; }
h1.large-title { font-size: $size-large-title; color: $color-accent2; }
h2 { font-size: $size-title-2; }
h3 { font-size: $size-title-3; }
h4 { font-size: $size-headline; }
h5 { font-size: $size-headline; }
h6 { font-size: $size-headline; }

pre, code {
    font-family: $font-mono;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

p {
    margin: 0 0 .8em;
    line-height: 1.5em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul, ol {
    margin-top: .5em;
    list-style-position: outside;
    margin-bottom: 1.75em;
    line-height: 150%;
    padding: 0 0 0 2em;
}

ul {
    list-style-type: square;
}

ul li {
    display: list-item;
    margin-bottom: .5em;
}
