
html {
    background: var(--color-background);
    color: var(--color-primary);
    font-family: $font-body;

    font-size: $size-base;
}

body {
    line-height: 1.5rem;
    font-weight: 400;
    
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
    -moz-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
    font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
//    font-feature-settings: "liga" 1;
}

h1 { font-size: $size-title-1; }
h2 { font-size: $size-title-2; }
h3 { font-size: $size-title-3; }
h4 { font-size: $size-headline; }
h5 { font-size: $size-headline; }
h6 { font-size: $size-headline; }

//h1.large-title {
//    font-size: $size-large-title;
//}

.large-title {
    font-size: $size-large-title;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0.8em 0 0.8em 0;
}

.gui, .gui * {
    font-family: $font-heading;
}

.thin {
    font-weight: 200;
}

p {
    line-height: 1.4em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

pre, code {
    font-family: $font-mono;
}

em {
    font-style: italic;
}

strong {
    color: $color-primary-light;
    background: $color-accent3;
    font-weight: 300;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

ul, ol {
    margin-top: .5em;
    list-style-position: outside;
    margin-bottom: 1.75em;
    line-height: 150%;
    padding: 0 0 0 2em;
}

ul {
    list-style-type: square;
}

li {
    display: list-item;
    margin-bottom: .5em;
    hyphens: auto;
}

.gui li {
    margin-bottom: 0;
    hyphens: none;
}


