<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ blog.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Cesar Parent">
    <meta name="description" content="{% block description %}{{ blog.tagline|markdown|striptags }}{% endblock %}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cesarparent">
    <meta name="og:title" content="{{ self.title() }}">
    <meta name="og:description" content="{{ self.description() }}">
    
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/code.css"/>
    <link rel="author" href="https://plus.google.com/116701126192141560817" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="banner">
        <nav class="container">
            <h1><a href="{{ blog.root_url }}">>&nbsp;{{ blog.name }}</a><div id="cursor"></div></h1>
            <ul class="navbar right">
                <li><a href="{{ blog.root_url }}/rss.xml">RSS</a></li>
            </ul>
        </nav>
    </header>
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            <small>&copy; Copyright 2016 Cesar Parent &mdash; Powered by <a href="https://github.com/cesarparent/pyblog">PyBlog</a></small>
            <small>All content available under the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY license</a></small>
            <small>All code snippets available under the <a href="/static/license.txt">MIT license</a></small>
        </div>
    </footer>
</body>
</html>