---
layout: default
title: Blog
---
<h1 class="large-title">{{ page.title }}</h1>

{% assign postsByYear = site.posts | offset: 1 | group_by_exp:"post", "post.date | date: '%Y'"  %}

<div class="gui right-float pad">
    <h2 class="gui">years</h2>
    <div class="year-list">
        {% for year in postsByYear %}
        <span>[<a href="#year-{{ year.name }}">{{ year.name }}</a>]</span>
        {% endfor %}
    </div>
</div>

{% for year in postsByYear %}

<div class="year-marker gui" id="year-{{ year.name }}">
    <h2>{{ year.name }}</h2>
</div>
<div class="post-list">
    {% for post in year.items %}
    <div class="post-tile gui">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class="post-meta">
            <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ post.date | date_to_string: "ordinal", "UK" }}</time>
            {% if post.author %}
            <span class="post-author">by {{ post.author }}</span>
            {% else %}
            <span class="post-author">by {{ site.author }}</span>
            {% endif %}
            
            {%if page.link %}
            <p><a class="button" href="{{ page.link }}">linked website</a></p>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>
{% endfor %}
