---
layout: default
---

<section id="tagline" class="padded">
    <img id="mug" alt="Amy Parent" src="/static/media/amy.jpg"/>
    {{ site.description | markdownify }}
</section>
<section id="articles" class="padded">
{% assign __year = -1 %}
{% for post in site.posts %}
    {% assign __pyear = (post.date | date: "%Y") %}
    {% unless __pyear == __year %}
    {% assign __year = __pyear %}
    <h2 class="articles-months gui">{{ __year }}<span class="gui thin"> Entries</span></h2>
    {% endunless %}
    <article class="post-item">
        <span class="post-item-meta">{{ post.date | date: "%b %-d" }}</span>
        <span class="post-link">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}{% if post.link %} [www]{% endif %}</a>
        </span>
    </article>
{% endfor %}
</section>
