---
layout: default
---
<article>
    <header>
        <h1 class="large-title">{{ page.title }}</h1>
        <div class="post-meta gui">
            <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% if page.author %}
            <span class="post-author">by {{ page.author }}</span>
            {% else %}
            <span class="post-author">by {{ site.author }}</span>
            {% endif %}
            
            {%if page.link %}
            <p><a class="button" href="{{ page.link }}">linked website</a></p>
            {% endif %}
        </div>
    </header>
    {% if page.series %}
    <aside class="series right-float gui">
        <h2 class="gui"><span class="thin">in series<br /></span>{{ page.series }}</h2>
        {% assign series = site.posts | where:"series", page.series %}
        <ol class="series-list">
        {% for post in series reversed %}
            <li class="post-link">
                {% if post.url == page.url %}
                {{ post.title }}
                {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </aside>
    {% endif %}
    <div class="post-content">
        {{ content }}
    </div>
</article>
