---
layout: default
---
<article>
    <header>
        <h1 class="large-title gui">{{ page.title }}</h1>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
</article>
<aside class="paper-list">
    <h2 class="large-title">Projects</h2>
    {% assign sorted = site.topics | sort: "date" | reverse %}
    {% for topic in sorted %}
    <div class="paper-tile pad gui">
        <h3 class="paper-title">{{ topic.title }}</h3>
        
        <div class="paper-meta">
            <span class="paper-authors">{{ topic.authors | join: ", " }}</span>
        </div>
        
        <div class="paper-details">
            {{ topic.summary | markdownify }}
        </div>
        <a class="button" href="{{ topic.url }}">details</a>
        {% assign outputs = topic.outputs | where: "published", true | sort: "date" | reverse %}
        {% for output in outputs %}
            {% if output.file %}
                <a class="button light" href="{{ output.file | prepend: "/static/pub/" | prepend: site.baseurl }}">{{ output.name }}</a>
            {% else if output.url %}
                <a class="button light" href="{{ output.url }}">{{ output.name }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
</aside>
