$color-background-light: rgb(255, 255, 255);
$color-primary-light: rgb(10, 10, 10);
$color-secondary-light: rgb(128, 128, 128);
$color-accent1-light: rgb(183, 108, 206);
$color-accent2-light: adjust-hue($color-accent1-light, -120deg);
// TODO: change that to something better

$color-background-dark: mix(rgb(32, 32, 32), $color-accent1-light, 97%);
$color-primary-dark: rgb(240, 240, 240);
$color-secondary-dark: rgb(128, 128, 128);
$color-accent1-dark: $color-accent1-light;
$color-accent2-dark: $color-accent2-light;
