$color-accent1: rgb(183, 108, 206);
$color-accent2: adjust-hue($color-accent1, 120deg);

$color-background-light: rgb(255, 255, 255);
$color-background-sec-light: mix($color-background-light, $color-accent1, 93%);
$color-primary-light: rgb(10, 10, 10);
$color-secondary-light: rgb(128, 128, 128);

$color-background-dark: mix(rgb(32, 32, 32), $color-accent1, 95%);
$color-background-sec-dark: mix($color-background-dark, $color-accent1, 93%);
$color-primary-dark: rgb(240, 240, 240);
$color-secondary-dark: rgb(128, 128, 128);

// TODO: provide a mixin to do some colors fallback magic here

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
