$font-heading: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Helvetica", Ubuntu, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-body: $font-heading;
$font-mono: "SFMono-Regular", "Fira Code", "Consolas", "Liberation Mono", "Menlo", monospace;

// TODO: this is lifted from the iOS HIG and might need tweaking for the web
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

$size-base: 14pt;

$size-large-title: 2em;
$size-title-1: 18pt;
$size-title-2: 16pt;
$size-title-3: 14pt;
$size-caption: 12pt;

$size-body: $size-base;
$size-headline: 1rem;
