$font-body: -apple-system, BlinkMacSystemFont, "Helvetica", Ubuntu, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-mono:  "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

// TODO: this is lifted from the iOS HIG and might need tweaking for the web
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

$size-base: 18;

@function size-rem($size-pts) {
    @return ($size-pts / $size-base) * 1rem;
}

$size-large-title: 2.5rem;
$size-title-1: 1.6rem;
$size-title-2: 1.3rem;
$size-title-3: 1.1rem;

$size-body: 1rem;
$size-headline: 1rem;
